<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <.live_title>
      <%= assigns[:page_title] || "Infolab light things" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <%= for script <- assigns[:extra_styles] || [] do %>
        <link defer phx-track-static rel="stylesheet" href={script} />
    <% end %>
    <%= for script <- assigns[:scripts] || [] do %>
        <script defer phx-track-static type="text/javascript" src={script} />
    <% end %>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
