[Unit]
Description=InfoLab Lights Control Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/infolab-lights/control --scene /opt/infolab-lights/InfoLab.xml --pixels wss://infolab21-lights.lancaster.ac.uk/screen_stream/websocket
WorkingDirectory=/opt/infolab-lights
Restart=always
RestartSec=5
StartLimitIntervalSec=0
# This makes systemd ignore the exit code 1
SuccessExitStatus=1

[Install]
WantedBy=multi-user.target